@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount+Ink:wght@100..900&family=Bungee+Tint&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Lobster&family=Noto+Serif+Todhri&family=Pacifico&family=Playwrite+IN+Guides&family=Satisfy&family=Smooch+Sans:wght@100..900&family=Teko:wght@300..700&display=swap');

* {
    background-color: rgb(2, 2, 2);
    box-sizing: border-box;
}

body {
  /* font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 25px; */
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 15vh;
}

nav ul {
    width: 45%;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

li {
    background-color: black;
}

nav ul li a {
    text-decoration: none;
    background-color: black;
    color: wheat;
}

nav ul li a:hover {
    color: red;
    font-weight: bold;
}

nav h2 {
    color: white;
    background-color: black;
    padding-left: 3vw;
}

span {
    background-color: black;
}

li:last-child a {
    background-color: red;
    padding: 10px 15px;
    border-radius: 7px;
}

li:last-child a:hover {
    color: black;
    background-color: white;
}

nav img {
    width: 10vw;
    height: auto;
}

.hero {
    width: 100%;
    height: 95vh;
    border: 2px solid black;
    background-image: url('../Images/banner.jpg');
    display: flex;
    justify-content: start;
}
.hero-content {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10vh;
    margin-top: 15vh;
    color: white;
}
.hero-content h1, .hero-content p {
    background-color: rgba(0, 0, 0, 0);
}
.hero-content button {
    height: 6vh;
    width: 10vw;
    background-color: red;
    color: white;
    border-radius: 7px;
    font-size: 16px;
}
.media {
    width: 100%;
    height: 70vh;
    border: 2px solid black;
    display: flex;
    /* align-items: center; */
}
.text, .video {
    width: 50%;
    height: 70vh;
    color: white;
    margin-top: 5vh;
}
.video video {
    width: 100%;
    height: 85%;
    border-radius: 15px;
    background-color: black;
}
.text h2 {
    margin-top: 15vh;
}
.text h2, .text p {
    margin-left: 5vw;
    margin-right: 5vw;
}

.myself {
    width: 100%;
    height: 40vh;
    color: white;
}
.myself h1, .myself p {
    width: 50vw;
    margin-left: 24vw;
    text-align: center;
}
.myself h1 {
    color: rgb(203, 60, 60);
}

.menu-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    padding-left: 1.5%;
}

.card {
    width: 100%;
    height: auto;
    color: white;
    background-color: rgb(55, 55, 54);
    border-radius: 15px;
}
.card img {
    width: 94%;
    height: auto;
    border-radius: 15px;
    margin: 3%;
}
.menu h2 {
    color: rgb(198, 79, 11);
    text-align: center;
}
.card h3, .card p, .card span {
    margin: 0px 5%;
    text-align: center;
    background-color: rgb(55, 55, 54);
}
.card h3 {
    color: rgb(3, 189, 118);
    text-shadow: 2px 2px 5px red;
}

.card span {
    margin-left: 21%;
}
.card button {
    width: 8vw;
    height: 5vh;
    border-radius: 7px;
    margin-bottom: 3%;
    background-color: red;
    color: rgb(42, 42, 42);
    font-weight: bold;
}
.card button:hover {
    background-color: yellow;
    color: black;
}
.icons {
    width: 80%;
    height: auto;
    margin: 0% 10%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
}
.icon-cards {
    width: 100%;
    height: auto;
}
.icon-cards img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5%;
}
.icon-cards p {
    color: white;
    text-align: center;
}
.cart {
    margin-top: -50px;
}
table {
    color: aliceblue;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid white; */
}
.items img {
    width: 90%;
    height: auto;
}
.items {
    display: grid;
    grid-template-columns: 150px 220px;
    gap: 5%;
}
th {
    background-color: red;
    padding: 2% 0%;
    border: 1px solid white;
}
.rows th:first-child {
    border-top-left-radius: 20px;
}
.rows th:last-child {
    border-top-right-radius: 20px;
}
/* .rows th:nth-child(2) {
    margin-left: 50px;
} */
td {
    text-align: center;
    border: 1px solid white;
}
td button {
    background-color: red;
    border-radius: 7px;
    padding: 7px 10%;
}
.pad td {
    padding: 15px 0px;
}
.pad td:first-child {
    border-bottom-left-radius: 15px;
}
.pad td:last-child {
    border-bottom-right-radius: 15px;
}
.one {
    padding-left: 15px;
    padding-right: 15px;
}
#heads {
    color: red;
    text-align: center;
}