@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount+Ink:wght@100..900&family=Bungee+Tint&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Lobster&family=Noto+Serif+Todhri&family=Pacifico&family=Playwrite+IN+Guides&family=Satisfy&family=Smooch+Sans:wght@100..900&family=Teko:wght@300..700&display=swap');

* {
    background-color: rgb(2, 2, 2);
    box-sizing: border-box;
}

body {
  /* font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 25px; */
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 15vh;
}

nav ul {
    width: 45%;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

li {
    background-color: black;
}

nav ul li a {
    text-decoration: none;
    background-color: black;
    color: wheat;
}

nav ul li a:hover {
    color: red;
    font-weight: bold;
}

nav h2 {
    color: white;
    background-color: black;
    padding-left: 3vw;
}

span {
    background-color: black;
}

li:last-child a {
    background-color: red;
    padding: 10px 15px;
    border-radius: 7px;
}

li:last-child a:hover {
    color: black;
    background-color: white;
}

nav img {
    width: 10vw;
    height: auto;
}

.hero {
    width: 100%;
    height: 95vh;
    border: 2px solid black;
    background-image: url('../Images/banner.jpg');
    display: flex;
    justify-content: start;
}
.hero-content {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10vh;
    margin-top: 15vh;
    color: white;
}
.hero-content h1, .hero-content p {
    background-color: rgba(0, 0, 0, 0);
}
.hero-content button {
    height: 6vh;
    width: 10vw;
    background-color: red;
    color: white;
    border-radius: 7px;
    font-size: 16px;
}
.media {
    width: 100%;
    height: 70vh;
    border: 2px solid black;
    display: flex;
    /* align-items: center; */
}
.text, .video {
    width: 50%;
    height: 70vh;
    color: white;
    margin-top: 5vh;
}
.video video {
    width: 100%;
    height: 85%;
    border-radius: 15px;
    background-color: black;
}
.text h2 {
    margin-top: 15vh;
}
.text h2, .text p {
    margin-left: 5vw;
    margin-right: 5vw;
}

.myself {
    width: 100%;
    height: 40vh;
    color: white;
}
.myself h1, .myself p {
    width: 50vw;
    margin-left: 24vw;
    text-align: center;
}
.myself h1 {
    color: rgb(203, 60, 60);
}

.menu-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    padding-left: 1.5%;
}

.card {
    width: 100%;
    height: auto;
    color: white;
    background-color: rgb(55, 55, 54);
    border-radius: 15px;
}
.card img {
    width: 94%;
    height: auto;
    border-radius: 15px;
    margin: 3%;
}
.menu h2 {
    color: rgb(198, 79, 11);
    text-align: center;
}
.card h3, .card p, .card span {
    margin: 0px 5%;
    text-align: center;
    background-color: rgb(55, 55, 54);
}
.card h3 {
    color: rgb(3, 189, 118);
    text-shadow: 2px 2px 5px red;
}

.card span {
    margin-left: 21%;
}
.card button {
    width: 8vw;
    height: 5vh;
    border-radius: 7px;
    margin-bottom: 3%;
    background-color: red;
    color: rgb(42, 42, 42);
    font-weight: bold;
}
.card button:hover {
    background-color: yellow;
    color: black;
}
.icons {
    width: 80%;
    height: auto;
    margin: 0% 10%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
}
.icon-cards {
    width: 100%;
    height: auto;
}
.icon-cards img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5%;
}
.icon-cards p {
    color: white;
    text-align: center;
}
.cart {
    margin-top: -50px;
}
table {
    color: aliceblue;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid white; */
}
.items img {
    width: 90%;
    height: auto;
}
.items {
    display: grid;
    grid-template-columns: 150px 220px;
    gap: 5%;
}
th {
    background-color: red;
    padding: 2% 0%;
    border: 1px solid white;
}
.rows th:first-child {
    border-top-left-radius: 20px;
}
.rows th:last-child {
    border-top-right-radius: 20px;
}
/* .rows th:nth-child(2) {
    margin-left: 50px;
} */
td {
    text-align: center;
    border: 1px solid white;
}
td button {
    background-color: red;
    border-radius: 7px;
    padding: 7px 10%;
}
.pad td {
    padding: 15px 0px;
}
.pad td:first-child {
    border-bottom-left-radius: 15px;
}
.pad td:last-child {
    border-bottom-right-radius: 15px;
}
.one {
    padding-left: 15px;
    padding-right: 15px;
}
#heads {
    color: red;
    text-align: center;
}
.auth-container {
    color: aliceblue;
    width: 100%;
    height: 90vh;
}
.auth {
    width: 30%;
    height: auto;
    background-color: white;
    color: black;
    border: 5px solid rgb(66, 66, 66);
    margin: 10vh 35%;
    border-radius: 25px;
}
.auth h2 {
    color: red;
    background-color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(35, 35, 35);
}
.auth form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 10%;
    background-color: white;
}
#forget {
    margin: 0% 30%;
    background-color: white;
    color: red;
}
.auth p {
    margin: 5% 13%;
}
.auth form input {
    height: 6vh;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(245, 230, 212);
    border-radius: 10px;
    border: 2px solid black;
    /* border-color: gray; */
}
.auth form input::placeholder {
    text-align: center;
}
.auth button, .auth p {
    background-color: white;
}
.auth p a {
    background-color: white;
    color: red;
}
.auth form button {
    height: 6vh;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(208, 24, 24);
    border-radius: 10px;
    border: 2px solid black;
}
.auth form button:hover {
    background-color: rgb(253, 6, 2);
}
/* .auth form input:focus {
    border: 3px solid red;
} */
.auth form input:hover {
    border: 3px solid red;
}
#register {
    margin-top: 0%;
}
.deals-page {
    width: 100%;
    height: auto;
}
.deal-hero {
    width: 80%;
    height: auto;
    background-color: gray;
    border: 2px solid white;
    margin: 3vh 10%;
    border-radius: 15px;
}
.deal-hero h2, .deal-hero p {
    background-color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.combo-section {
    width: 100%;
    height: auto;
    margin-bottom: 7vh;
}
.combo-section h2 {
    color: White;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.combo-container {
    width: 90%;
    height: auto;
    margin: 0% 5%;
    /* border: 2px solid white; */
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
}
.deal-card {
    /* border: 2px solid greenyellow; */
    background-color: rgb(54, 53, 53);
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.deal-card img {
    width: 80%;
    height: auto;
    margin: 3% 10%;
    border: 2px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.deal-card h3, .deal-card p, .deal-card h4, .deal-card h4 span {
    background-color: rgb(54, 53, 53);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.deal-card button {
    width: 40%;
    height: 5vh;
    color: aliceblue;
    margin-left: 30%;
    background-color: rgb(232, 36, 36);
    border-radius: 5px;
    margin-bottom: 3%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
}
.deal-card button:hover {
    background-color: red;
    cursor: pointer;
}
.deal-card h4 span {
    text-decoration: line-through red;
    color: rgb(168, 168, 168);
}
.deal-card pre {
    width: 60%;
    margin-left: 20%;
    background-color: black;
    color: rgb(146, 207, 207);
    font-family: 'Times New Roman', Times, serif;
    padding: 2% 3%;
    margin-bottom: 2vh;
    border-radius: 7px;
    text-align: center;
}
.deal-card pre:hover {
    background-color: rgb(82, 83, 85);
    color: Red;
    font-weight: bold;
}
.deal-card .offer {
    color: rgb(175, 173, 175);
    border-radius: 10px;
}
.deal-card .para {
    background-color: rgb(33, 33, 33);
    color: bisque;
}
.deal-card .ones {
    color: rgb(3, 141, 200);
}
.deal-card .para:hover {
    background-color: red;
    color: white;
}
.cards:hover {
    background-color: white;
    color: black;
    h3{
        background-color: white;
        color: rgb(13, 249, 166);
    }
    p{
        background-color: white;
        color: rgb(55, 55, 55);
    }
}

.select {
    background-color: rgb(245, 230, 212);
    color: black;
    height: 6vh;
    border-radius: 8px;
    margin-bottom: 1.5vh;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

#message {
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.auth form .eye {
    height: 6vh;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(245, 230, 212);
    border-radius: 10px;
    border: 2px solid black;
    /* border-color: gray; */
}
.auth form #password {
    height: 100%;
    font-size: 16px;
    color: black;
    background-color: rgb(245, 230, 212);
    border: 2px solid rgb(245, 230, 212);
    width: 90%;
}
.auth form #password:focus {
    border: none;
    outline: none;
}

.auth form .eye:hover {
    border: 1px solid red;
}
